#error,
#login,
#header,
.table thead > tr > th,
.box-header,
.btn-search,
.btn-success,
.btn-file,
.modal-header,
.select2-results .select2-highlighted,
#mail li.mail-title { background-color: #359863; }

.btn-success:hover,
#header .nav > li:hover,
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled,
.datepicker td.active,
.datepicker td.active:hover,
#list .list-title,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #2a8f59; }

.box-content,
#calendar,
input:focus,
select:focus,
textarea:focus,
.form-control:focus,
.manage .table-responsive,
.select2-container-active .select2-choice, 
.select2-container-active .select2-choices,
.select2-dropdown-open .select2-choice,
#list,
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form { border-color: #359863; }

.manage .table .prev:hover,
.manage .table .next:hover,
#login .forgot a:hover { color: #359863; }

