@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { background: #fdfdfd; color: #303030; font-family: 'Open Sans', sans-serif; font-size: 13px; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Open Sans', sans-serif; margin: 0; }
h2, .h2 { font-size: 20px; margin-bottom: 10px; }
ul, ol { margin: 0; padding: 0; list-style: none; }
a, 
a:hover,
a:focus { color: #303030; text-decoration: none; }
label { font-weight: normal; }
textarea { height: 70px; resize: none; }
sup { color: #ec1b3d; }
input,
select,
textarea,
.form-control { border: 1px solid #878787; color: #5555; }
input,
select { height: 30px; }
input,
select,
textarea { padding: 4px 8px; }
textarea:focus { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
button { background: none; border: none; }
strong,
dt { font-weight: 600; }

.help-block { margin-bottom: 20px; }
.btn-group-top { left: 220px; position: absolute; top: -161px; z-index: 1050; }
.btn-group-top .navbar-nav > li > a { color: #fcfcfc; line-height: 2; padding: 0; }
.btn-group-top .navbar-nav > li > a:hover { background: none; }
.btn-group-top .navbar-nav > li  { height: 50px; padding: 11px 10px; } 
.t-center { text-align: center; }

/*Form*/
.form-horizontal textarea,
.form-horizontal select { width: 100%; }
.form-horizontal select { height: 35px; }

/*Modal*/
.modal-header { color: #fcfcfc; min-height: 50px;  overflow: hidden; padding: 10px 15px; }
.modal-content { border-radius: 0; }

.but-checkbox .btn { background: #fcfcfc; box-shadow: 0 0 0 2px #dedede; height: 15px; padding: 0; width: 15px; }
.btn-checkbox { border: 1px solid #2f2f2f; }
.but-checkbox .btn:active, 
.but-checkbox .btn.active { box-shadow: 0 0 0 2px #dedede; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal;
    line-height: 1.3; position: relative; font-size: 8px; }
.but-checkbox .btn:active:before, 
.but-checkbox .btn.active:before  { content: "\e013"; }

/*Header*/
#header { /*height: 50px;*/ }
.navbar-default { border: none; }
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus { color: #fcfcfc; }
.navbar-brand { margin-right: 20px; padding: 10px; }
.navbar-brand img { padding-right: 10px; }
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus { background: none; color: #fcfcfc; }
.dropdown-menu { border: 1px solid #909090; box-shadow: none; -webkit-box-shadow: none; border-radius: 0; padding: 0; }
.dropdown-menu > li > a { padding: 8px 20px; }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus { background: #f6f6f6; color: #303030; }
.account .avatar,
.account span { display: block; float: left; }
.account .avatar { margin: -5px 5px 0 0; }
.account .glyphicon { font-size: 10px; padding: 3px 5px; }
.account .dropdown-menu  .glyphicon { font-size: 14px; padding: 0; }
.account span { padding: 0 0 15px 0; }
.thumbnail { border: 1px solid #878787; }
.top { margin-top: 20px; }
#header .dropdown-menu { border: 2px solid #359863; border-top: none; min-width: 150px; top: 51px; }
#header .account .dropdown-menu .glyphicon,
#header .logout .glyphicon { padding-right: 5px; }
.nav .notification > a { overflow: hidden; padding-top: 15px; padding-bottom: 15px; }
.notification .glyphicon { float: left; font-size: 20px; }
.notification .badge { background: #eb1414; display: block; float: left; } 

/*Page Login*/
#login { }
#login .login { height: 400px; left: 50%; margin: -230px -200px -200px; position: absolute; top: 50%; width: 400px; }
#login h1 { font-weight: 500; margin-bottom: 20px; text-transform: uppercase; }
#login .logo { margin: 0 57px 20px; }
#login h1 img,
#login h1 a span { display: block; float: left; }
#login h1 img { padding-right: 15px; }
#login h1 a { color: #fcfcfc; }
#login h1 a span { margin-top: 17px; }
#login .form-horizontal { background: #fcfcfc; overflow: hidden; padding: 20px 20px 0; }
#login .form-horizontal h1 { font-size: 23px; font-weight: 300; margin-bottom: 20px; }
#login .input-group-addon { background: none; border: none; position: absolute; top: 2px; }
#login .input-group .form-control { height: 40px; }
#login .forgot { background: #ddd; font-size: 15px; margin: 60px -20px 0 -20px; padding: 20px; text-align: center; }
#login .but-checkbox{ margin-top: 8px; }
#login .but-checkbox label { font-size: 15px; }
#login .btn-checkbox { margin: 2px 10px 0 0; height: 20px; width: 20px; }
#login .but-checkbox .btn:active, 
#login .but-checkbox .btn.active { font-size: 12px;  }

/*Page Error*/
.icon-radio-checked, 
.icon-radio-unchecked, 
.icon-spinner, 
.icon-spinner-2, 
.icon-spinner-3, 
.icon-stats, .icon-bars, 
.icon-key, 
.icon-warning {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-radio-checked:before {
	content: "\e001";
}
.icon-radio-unchecked:before {
	content: "\e002";
}
.icon-spinner:before {
	content: "\e003";
}
.icon-spinner-2:before {
	content: "\e004";
}
.icon-spinner-3:before {
	content: "\e005";
}
.icon-stats:before {
	content: "\e006";
}
.icon-bars:before {
	content: "\e007";
}
.icon-key:before {
	content: "\e008";
}
.icon-warning:before {
	content: "\e009";
}
#error { color: #fcfcfc; }
#error .error { height: 400px; left: 50%; margin: -150px -150px -200px; position: absolute; top: 50%; width: 300px; }
#error .page-header { border-bottom: none; font-size: 80px; margin: 0; text-align: center; }

/*Content*/
.title { font-size: 30px; font-weight: 400; margin-bottom: 25px; }
.small-title { border-left: 2px solid #F66B59; padding: 5px 0 5px 5px; }
.title.border { border-bottom: 1px solid #878787; padding-bottom: 3px; } 
#main_navigation { background: #dcdcdc; float: left; height: 100%; margin-top: 50px; position: fixed; }
#main_navigation  .nav > li > a { border-bottom: 1px solid #eae9e9; padding: 10px; }
#main_navigation  .nav > li > a:hover,
#main_navigation  .nav > li > a:focus,
#main_navigation  .nav > li > a.active { background: #eae9e9; }
#left-content { background: #eae9e9; }
/*Search*/
.form-inline { margin-bottom: 15px; }
.form-control { border-radius: 0; height: 35px; }
.form-control,
.form-control:focus { -webkit-box-shadow: none; box-shadow: none; } 
.form-inline .btn-search { border-radius: 0; color: #fcfcfc; height: 31px; position: absolute; right: 2px; top: 2px; width: 33px; }
.form-inline .btn-search .glyphicon { top: -1px; }
.form-inline .dropdown-menu { padding: 20px; width: 100%; }

/*Form search*/
.form-search { position: relative; top: 0; }
.form-search form { width: 280px; }
.form-search input { width: 276px;  }
.form-search button { color: #818181; position: absolute; right: 6px; top: 6px; }

/*Form search advanced*/
#form-advanced { display: none; margin-bottom: 10px; } 
.form-horizontal .control-label { text-align: left; }
.form-fieldset { float: left; }
.form-fieldset .form-group { margin-bottom: 10px; }
.form-fieldset .form-control { height: 31px; }
.button { float: right; padding-right: 15px; }
.btn { border-radius: 0; height: 35px; line-height: 2.4; padding: 0 15px; }
.btn-succes { border: none; }
.btn-cancel { background: #dfdfdf; margin-left: 10px; }
.btn-cancel:hover { background: #d2d1d1; }

.table thead > tr > th, 
.table tbody > tr > th, 
.table tfoot > tr > th, 
.table thead > tr > td, 
.table tbody > tr > td, 
.table tfoot > tr > td { padding: 10px; }

.table thead > tr > th { border: none; color: #fcfcfc; font-weight: 600; }
.table tr.active { background: #f5f5f5; cursor: pointer; }

.table-chart tfoot { background: #eaeaea; font-weight: 600; }

#content { padding: 70px 0 40px 0; position: relative; }
.inner-content { padding: 10px 0; }
.box-header { color: #fff; font-size: 15px; height: 40px; line-height: 2.6; padding: 0 10px; }
.box-header .navbar-right a { color: #fff; font-size: 13px; }
.box-header .square .glyphicon { border: 1px solid #fff; margin: 0 8px; padding: 2px 3px 4px; }
.box-content { border-style: solid; border-width: 1px; overflow: hidden; padding: 10px 0; }
.thumbnail { border-radius: 0; }
.row-small { overflow: hidden; padding: 8px 0; }
.row-small .field-name,
.row-small .field-text { display: block; float: left; }
.row-small .field-name { font-weight: 600; padding-right: 10px; }
.form-row .row-small { margin-left: -15px; margin-right: -15px; padding-left: 0; padding-right: 0; }
/*Page Dashboard*/
.dashboard .stats-summary,
.dashboard .stats-summary .stats-view { color: #fcfcfc; }
.dashboard .stats-summary li { height: 110px; margin: 10px 1% 30px 0; padding: 0; }
.dashboard .stats-summary li.last { margin-right: 0; }
.dashboard .stats-summary .col-xs-3 { width: 24.25%; }
.dashboard .stats-summary .glyphicon { display: block; float: left; font-size: 30px; line-height: 3; margin: 0 20px; }
.dashboard .stats-summary .stats-text { float: left; padding-top: 28px; }
.dashboard .stats-summary .stats-title { font-size: 15px; font-weight: 600; }
.dashboard .stats-summary .stats-number { display: block; font-size: 30px; font-weight: 700; text-align: center; }
.dashboard .stats-summary .stats-view { background: rgba(0,0,0,0.1); display: block; float: right; height: 110px; padding: 35px 8px; }
.dashboard .stats-summary .stats-view:hover { background: rgba(0,0,0,0.2); }
.dashboard .stats-summary .stats-view .glyphicon { font-size: 13px; margin: 0; }
.dashboard .support-requests { background: #f66b59; }
.dashboard .total-revenue { background: #47a29f; }
.dashboard .current-balance { background: #7aa560 ; }
.dashboard .customer { background: #f9a848; }

/*Customer page*/
.btn-circle { background: none; border: none; }
.navbar li a.circle { overflow: hidden; padding-bottom: 11px; padding-top: 11px; }
.circle .glyphicon { border: 1px solid #fff; border-radius: 100px; display: block; float: left; height: 25px; margin-right: 2px; padding: 4px 5px; width: 25px; }
.circle .text { display: block;  float: left; margin: 4px 10px 4px 3px; }
#content .avatar { display: block; height: 100px; width: 100px; }
/*Page Product*/ 
.manage .table-responsive { border-style: solid; border-width: 1px; }
.manage .table { margin-bottom: 0; }
.manage .table-bordered { }
.manage .table th a .glyphicon { color: #fcfcfc; font-size: 9px; padding-left: 5px; }
.manage .table input,
.manage .table select { width: 100%; }
.manage .table .col-xs-1, 
.manage .table .col-xs-2, 
.manage .table .col-xs-3, 
.manage .table .col-xs-4, 
.manage .table .col-xs-5, 
.manage .table .col-xs-6, 
.manage .table .col-xs-7, 
.manage .table .col-xs-8, 
.manage .table .col-xs-9, 
.manage .table .col-xs-10, 
.manage .table .col-xs-11 { position: static; }

.manage .table .col-xs-03 { width: 3%; }
.manage .table .col-xs-15 { width: 15%; }
.manage .table .col-xs-20 { width: 20%; }
.manage .table .col-xs-15 { width: 15%; }
.manage .table .col-xs-012 { width: 12%; }
.manage .table .col-xs-15 { width: 15%; }
.manage .table .col-xs-08 { width: 8%; }
.manage .table .action a { padding: 0 3px; }

.manage .tfoot-btn { background: #e2e2e2; float: left; margin-left: 5px; padding: 5px 10px; }
.manage .table .prev,
.manage .table .next { font-size: 11px; }
.manage .dropdown { position: relative; }
.manage .dropdown-menu { left: auto; min-width: 110px; right: 0; }
.manage .number-page,
.manage .arrow,
.manage .config { float: left; }
.manage .number-page { display: block; margin: 5px 10px 5px 0; }
.manage .but-checkbox .btn { margin-top: -1px; }
.manage .total { background: #e8e8e8; font-size: 15px; font-weight: 600; text-align: left; }
.manage .wait { color: #ff0042; font-weight: 600; }

.modal .row-small { border-bottom: 1px solid #ddd; }
.modal .row-small:last-of-type { border-bottom: none; }
.modal .modal-header a { color: #fcfcfc; }
.nav-ul li { float: left; }
.modal .mod al-title{ line-height: 1; }
.modal .modal-header .navbar-nav li { padding: 0 0 0 15px; }
/*.modal .modal-dialog { width: 700px; }*/

/*Invoice*/
.invoice .col-xs-6,
.invoice .col-xs-3 { padding-left: 0; }
.invoice .table-responsive { margin-top: 20px; }
.invoice .field-name { padding-right: 10px; }
.invoice .in-jumbotron { border-bottom: 2px solid #ddd; margin-bottom: 10px; padding-bottom: 10px; }
.information li { float: left; padding: 10px 20px 5px 0; }
.information li .glyphicon { padding-right: 5px; }
.in-jumbotron .logo { display: block; height: auto; width: 200px; }
.in-jumbotron .logo img { width: 180px; height: auto; }

.notification .dropdown-menu { font-size: 12px; width: 354px; }
.notification .dropdown-menu > li > a { overflow: hidden; }
.notification .dropdown-menu > li { border-bottom: 1px solid #adadad;  }
.notification .dropdown-menu > li:last-of-type { border-bottom: none; }
.notification .pull-left { height: 50px; width: 50px; }
.notification .pull-left .avatar { height: 100%; width: 100%; }
.notification .pull-right { margin-left: 10px; width: 250px; }
.notification .author,
.notification .content,
.notification .time { display: block; }
.notification .time { color: #a2a2a2; }

.top-10 { margin-top: 10px; }
.top-20 { margin-top: 20px; }
.top-30 { margin-top: 30px; }
.top-40 { margin-top: 40px; }

/*Manage*/
#manage .page-header  { margin: 0 0 20px; padding-bottom: 5px; }
#manage .page-header p { margin-bottom: 0; }
#mail { border: 1px solid #ddd; overflow: hidden; }
#mail li { border-bottom: 1px solid #ddd; overflow: hidden; }
#mail li:nth-child(2n+1){ background: #f8f8f8; }
#mail li:last-child { border-bottom: none;  }
#mail span { border-left: 1px solid #ddd; display: block; float: left; height: 70px; overflow: hidden; padding: 10px 15px; }
#mail span:first-child { border-left: none; }
#mail li.mail-title { color: #fff; font-size: 15px; height: 45px; font-weight: 600; }
#mail .unread { font-size: 14px; font-weight: 600; }
.avatar-small { border: none; height: 50px; padding: 0; width: 50px; }
tr.active { color: #000; font-size: 14px; font-weight: 600; }
.mail-view .dropdown-menu { left: 0; }
.mail-view a { display: block; padding-top: 8px; }
.mail-view a .glyphicon { font-size: 10px; }
/*employees*/
.note { color: #f30202; font-size: 15px; }
.note ul { padding-left: 60px; }
.manage .note li { font-size: 14px; font-style: italic; padding-bottom: 5px; }

#list { border-style: solid; border-width: 1px; margin-bottom: 20px; }
#list .list-title { border: 1px solid #ddd; color: #fff; font-weight: 600; overflow: hidden; padding: 10px 0; }
#list .list-title li { padding: 0 10px; }
#list .nav > li > a { margin: 0; }
#list .nav > li > a > span { border-left: 1px solid #ddd; word-break: break-all; height: 70px; padding-top: 10px; }
#list .nav > li > a > span:last-child { border-right: 1px solid #ddd; }
#list .nav > li > a { border: none; border-radius: 0; padding: 0;}
#list .nav-tabs { border: none; }
#list .nav-tabs > li:hover { background: #f5f5f5; }
#list .nav-tabs > li:nth-child(2n+1) { background: #F9F9F9; }
#list .nav-tabs > li { border-bottom: 1px solid #ddd; margin: 0; width: 100%; }
#list .nav-tabs > li > a:hover { border: none; }
#list .nav-tabs > li.active > a, 
#list .nav-tabs > li.active > a:hover, 
#list .nav-tabs > li.active > a:focus { background: none; border: none; color: #000; font-weight: 600; }

/*Responsive*/
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fcfcfc;
	}
	.account { overflow: hidden; }
	.form-search button { right: 88px; top: 59px;	}
}
@media (max-width: 640px) {
	#login .login { left: 0; margin: 30px 120px 0; top: 0; }
}
@media (max-width: 480) {
	#login .login { left: 0; margin: 30px 40px 0; top: 0; }
}
@media (max-width: 360px) {
	#login .login { height: 340px; left: 0; margin: 30px 10px 0; top: 0; width: 340px; }
	#login .logo { margin: 0 10px 20px; }
	#login .pull-right { float: left !important; }
}
@media (max-width: 320px) {
	#list .nav > li > a > span { padding-left: 5px; padding-right: 5px; }
	#login .login { height: 300px; width: 300px; }
}

