div .summary {
    padding-top: 11px;
}

.manage .tfoot-btn {
    margin: 5px 5px;
}

th a, th a:hover, th a:focus {
    color: #fcfcfc;
    text-decoration: none;
}


ul.yiiPager .pager_next a:link, ul.yiiPager .pager_next a:visited {
    border: none;
    color: #303030;
    font-weight: bold;
    padding: 1px 6px;
    text-decoration: none;
}

ul.yiiPager .pager_next a:hover {
    color: #359863;
}

ul.yiiPager .pager_prev a:link, ul.yiiPager .pager_prev a:visited {
    border: none;
    color: #303030;
    font-weight: bold;
    padding: 1px 6px;
    text-decoration: none;
}

ul.yiiPager .pager_prev a:hover {
    color: #359863;
}

